.container {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  background-color: #101010;
  border-left: 2px solid #a5ffc9;
  border-bottom: 1px solid #a5ffc9;
}

.search {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.homeButton {
  border:2px solid #a5c9ff;
  padding: 3px 5px;
  background-color: #eeeeee;
  border-radius: 10%;
  text-decoration: none;
}

.playList {
  border:2px solid #a5c9ff;
  padding: 3px 5px;
  background-color: #eeeeee;
  border-radius: 10%;
  text-decoration: none;
  color: #101010;
}
