.navbar {
  /* font-weight: 600; */
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 1% 1%;
  background-color: bisque;
}

.homeButton {
  border:1px solid black;
  padding: 3px 5px;
  background-color: grey;
  border-radius: 10%;
}

.playList {
  border:1px solid black;
  padding: 3px 5px;
  background-color: grey;
  border-radius: 10%;
}
